EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAjkKg44DwyXhLteAXZC_J6cTZ1gAOFL5s
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=greenbyte-9f483.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=greenbyte-9f483
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=greenbyte-9f483.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=106747655805
EXPO_PUBLIC_FIREBASE_APP_ID=1:106747655805:web:c943d0471cc49a1e91e314
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-VR6Y45PTKB
