PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/greenbyte
AUTO_SEED=false
GEMINI_API_KEY=AIzaSyDJtLjeVNf0eeZg5VqR8fP_zacDJKJJUcA
OPENAI_API_KEY=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

